{
    "parser": "@babel/eslint-parser",
    "env": {
        "commonjs": false,
        "es6": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "BigInt": true,
        "fetch": true
    },
    "parserOptions": {
        "ecmaVersion": 2022,
		"sourceType": "module",
        "requireConfigFile": false
    },
    "rules": {
        "indent": [
            "error",
            "tab",
            {
                "SwitchCase": 1
            }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "double"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-unused-vars": "off",
        "prefer-arrow-callback": "error",
        "no-var": "error",
        "eol-last": "error",
        "object-curly-newline": "error",
        "object-curly-spacing": "off",
        "object-property-newline": "error",
        "no-constant-condition": [
            "error",
            {
                "checkLoops": false
            }
        ]
    }
}
